/*
tempbodge: temp fetcher
sjaks@github.com
*/

.nav-right {
    color: #ffffff;
}

.card {
    height: 11vh;
}

.card .card-body .card-subtitle {
    color: #555b6e !important;
}

.card .card-body h2 span {
    float: left;
}

.card .card-body small {
    color: #555b6e;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#trendUpIn, #trendUpOut {
    padding: 5px;
    font-size: 1.4rem;
    display: none;
    color: #e4629f;
    float: left;
}

#trendDownIn, #trendDownOut {
    padding: 5px;
    font-size: 1.4rem;
    display: none;
    color: #4694f5;
    float: left;
}

#yScale {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: rgba(0,0,0,.125) !important;
    outline: none;
    height: 2px;
}

#yScale::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #343a40;
    border-radius: 50%;
}

#yScale::-moz-range-thumb {
    width: 15px;
    height: 15px; 
    background: #343a40;
    border-radius: 50%;
}

#startDate, #endDate {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 2px 8px;
    color: #555b6e !important;
}