/*
esp32-tempmonitor: temp fetcher
sjaks@github.com
*/

.nav-right {
    color: #ffffff;
    padding-left: 4px;
    padding-bottom: 4px;
}

.card {
    min-height: 110px;
    margin-bottom: 1vh;
}

.card .card-body .card-subtitle {
    color: #555b6e !important;
}

.card .card-body h2 span {
    float: left;
}

.card .card-body small {
    color: #555b6e;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#trendUpIn, #trendUpOut {
    padding: 5px;
    font-size: 1.4rem;
    display: none;
    color: #e4629f;
    float: left;
}

#trendDownIn, #trendDownOut {
    padding: 5px;
    font-size: 1.4rem;
    display: none;
    color: #4694f5;
    float: left;
}
